<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844397548148-lkk8a8ut4ddlc27ledsaolcmeqg7na4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844397548148-lkk8a8ut4ddlc27ledsaolcmeqg7na4f</string>
	<key>API_KEY</key>
	<string>AIzaSyD9esiqrecmL_x693Wt-f_8e2p0NiohlkM</string>
	<key>GCM_SENDER_ID</key>
	<string>844397548148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventCalendar</string>
	<key>PROJECT_ID</key>
	<string>event-calendar-1d456</string>
	<key>STORAGE_BUCKET</key>
	<string>event-calendar-1d456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844397548148:ios:4ab7a6e1de307df5caf721</string>
</dict>
</plist>